@charset "utf-8";

.fw {

	min-width: 100%;
	font-family: $font_base;
	color : $color_text;
	font-size: $font-size_base + px;
	line-height: $line-height_base;

	background: $black0;
	-webkit-font-smoothing: antialiased;

	button {
		margin: 0;
		padding: 0;
		border: none;
		background: none;
		outline: none;
	    font-size: inherit;
		cursor:pointer;
	}

	input,
	button,
	textarea,
	select {
		outline: 0;
		appearance: none;
		border-radius: 0;
		background: none;
		font-family: $font_base;
		line-height: normal;
		border: none;
		-webkit-tap-highlight-color:rgba(0,0,0,0);
        padding: 0; margin: 0;
		&:-webkit-autofill { //Chrome オートフィル無効
			box-shadow: 0 0 0px 1000px #fff inset;
		}
	}
	input,
	textarea,
	select {
		font-size: 16px;
	}

	.f-inner {
		width: 100%;
		max-width: $width_main + px;
		margin: 0 auto;
	}

	.contents {
		overflow-x: hidden;
		overflow-y: inherit;
		min-height: calc( 100vh - 92px );
		&.is_btns { min-height: calc( 100vh - 136px ); }
		&.is_btns_noheader { min-height: calc( 100vh - 136px + 46px ); }
	}

    .no_result {
        padding: 20px;
        text-align: center;
    }

	#app {
		max-width: 768px;
		margin: 0 auto;
		.overlay {
			position: fixed;
			bottom: 0; left: 0;
			width: 100vw; height: calc(100vh - 46px);
			background: rgba($black100,0.4);
			transition: opacity 0.4s ease;
			opacity: 0;
			pointer-events: none;
			&.is_menu {
				opacity: 1;
				pointer-events: inherit;
			}
		}
		&[data-message] {
			&:before {
				content: attr(data-message);
				background: $color_text;
				color: #FFF;
				position: fixed;
				left: 50%; top: 30px;
				max-width: 300px;
				display: table;
				line-height: 1;
				padding: 8px 15px;
				border-radius: 4px;
				@include bold;
				// box-shadow: 0 0 20px 0 rgba(#000,0.4);
				z-index: 9999;
				opacity: 0;
				pointer-events: none;
				transform: translate(-50%,-200%);
				transition: opacity 0.4s ease, transform 0.4s ease;
			}
			&.show_message {
				&[data-message]:before {
					opacity: 1;
					transform: translate(-50%,0);
				}
			}
		}
	}

    &.loading {
		pointer-events: none;
        &:before {
	        content: '';
	        position: fixed;
	        pointer-events: none;
	        @include loading($size:80px,$width:3px,$baseColor:rgba(#000,0.4),$barColor:rgba(#000,0.0),$speed:0.8);
	        z-index: 100;
	        top: 50%; left: 50%;
	        margin: -40px 0 0 -40px;
	        z-index: 9999;
            opacity: 1;
        }
    }

}//.fw
