@charset "utf-8";

.fw #detail {

    background: $black0;

    .contents { overflow-x: visible; }

    .user_inner {

        .user_header {

            display: flex;
            flex-flow: row wrap;
            align-items: center;
            padding: 20px 15px;

            .user_thumb {
                width: 106px; height: 106px;
                background-position: center;
                background-size: cover;
            }

            .user_info {
                padding-left: 15px;
                width: calc(100% - 106px);
                .m-info_counts {
                    margin-bottom: 20px;
                }

                .user_info_store {
                    display: flex;
                    flex-flow: row wrap;
                    line-height: 1;
                    margin-bottom: 8px;
                    &:last-child { margin-bottom: 0; }
                    dt { width: 56px; }
                    dd {
                        width: calc( 100% - 60px );
                        padding-left: 15px;
                        @include bold;
                    }
                    @include max(xs) {
                        font-size: 12px;
                        dt { width: 50px; }
                        dd { padding-left: 10px; width: calc( 100% - 50px ); }
                    }
                }

            }//.user_info

        }//.item_header

        .user_txt {
            margin-top: 20px;
            line-height: 1.4;
            white-space: pre-wrap;
            word-wrap: break-word;
            p { overflow: hidden; }
            button { font-size: 12px; display: none; }
        }

    }//.item_inner


    .user_tab {

        .VueCarousel {
            display: flex;
            flex-flow: row wrap;
            user-select: text;

            .VueCarousel-wrapper {
                order: 2;
                width: 100%;
                // transition: height 1s;
                min-height: 50vh;
            }
            .VueCarousel-pagination {
                order: 1;
                width: 100%;
                height: 46px;
                margin-bottom: 20px;
                position: sticky;
                top: 0; left: 0;
                .VueCarousel-dot-container {
                    background: #FFF;
                    display: flex !important;
                    padding: 0 15px;
                    justify-content: space-around;
                }
                li {
                    width: 100%;
                    margin: 0 !important;
                    padding: 0 !important;
                    button {
                        display: block;
                        text-align: center;
                        width: 100% !important;
                        height: 46px !important;
                        color: $black50;
                        font-weight: bold;
                        background: none !important;
                        border-radius: 0;
                        outline: none;
                    }
                    &.VueCarousel-dot--active button {
                        color: $color_link;
                        @include triangle($color:#FFF, $width:20, $height:10, $direction:bottom);
                    }
                }
            }
        }

        .user_tab_inner {
            padding: 0 15px;
        }

        .user_tab_photos {
            ul {
                display: flex;
                flex-flow: row wrap;
                margin: 0 -1px;
                li {
                    width: 33.33%;
                    padding: 1px;
                    .photos_btn {
                        width: 100%; height: 0;
                        padding-bottom: 100%;
                        background-position: center;
                        background-size: cover;
                        background-color: #FFF;
                        display: block;
                    }
                }
            }
        }//.user_tab_photos

        .user_tab_info {
            .info_box {
                background: #FFF;
                margin-bottom: 15px;
                &:last-child { margin-bottom: 0; }
                .info_box_ttl {
                    line-height: 1;
                    padding: 15px;
                    border-bottom: 2px solid $black10;
                    @include bold;
                }
                .info_box_wrap {
                    padding: 15px 15px 18px;
                    .info_box_inner {
                        margin-bottom: 15px;
                        &:last-child { margin-bottom: 0; }
                        .info_box_inner_ttl {
                            font-size: 12px;
                            color: $black50;
                            margin-bottom: 2px;
                            @include bold;
                        }
                        .info_box_inner_txt {
                            line-height: 1.4;
                            white-space: pre-wrap;
                            word-wrap: break-word;
                        }
                    }
                }
            }
        }//.user_tab_info

        .user_tab_menu {

            .menu_box {
                background: #FFF;
                padding: 15px;
                margin-bottom: 2px;
                position: relative;
                display: block;
                color: $color_text;
                &:last-child { margin-bottom: 0; }
                .menu_box_ttl {
                    line-height: 1.4;
                    width: 80%;
                    @include bold;
                }
                .menu_box_price {
                    line-height: 1;
                    font-size: 12px;
                    padding: 2px 4px;
                    background: $black50;
                    color: #FFF;
                    position: absolute;
                    top: 15px; right: 15px;
                    @include bold;
                }
                .menu_box_txt {
                    font-size: 12px;
                    line-height: 1.4;
                    margin-top: 15px;
                    white-space: pre-wrap;
                    word-wrap: break-word;
                }
            }

        }//.user_tab_menu

    }//.user_tab

}//.fw
