@charset "utf-8";

.fw #detail.is_edit {

    .user_inner {
        .user_header {
            .user_info {
                .user_info_notice {
                    font-size: 10px;
                    line-height: 1.2;
                    margin-top: 15px;
                    text-indent: -1.3em;
                    padding-left: 1.3em;
                }
            }
            .user_txt {
                width: 100%;
                margin-top: 25px;
            }
        }
    }

    .user_tab {
        .user_tab_info {
            .info_box {

                .info_box_ttl { position: relative; }
                .info_box_menu {
                    position: absolute;
                    top: 50%; right: 0;
                    transform: translateY(-50%);
                    width: 32px; height: 46px;
                }

                .info_box_wrap {

                    .info_box_inner {
                        padding-right: 20px;
                        padding-bottom: 15px;
                        border-bottom: 2px dotted $black20;
                        position: relative;
                        &:first-of-type { padding-right: 0; }
                        &:last-of-type { border-bottom: none; padding-bottom: 0; }
                        .info_box_ttl, .info_box_inner_ttl {
                            margin-bottom: 10px;
                        }
                        .info_box_ttl {
                            .a-form_input { font-weight: bold; }
                        }
                        .info_box_inner_menu {
                            position: absolute;
                            top: 45%; right: -15px;
                            transform: translateY(-50%);
                            width: 36px; height: 40px;
                            .a-icon { transform: rotate(45deg); }
                        }
                    }
                }
            }
            .info_box_btn {
                text-align: center;
            }
        }
    }

}//.fw
