@charset "utf-8";

.fw #post {

    will-change: auto;
    background: #FFF;
	max-width: 480px;
	margin: 0 auto;

    #post_inner {
        background: #FFF;

        .contents {
            .m-info_counts {
                margin-bottom: 20px;
                &:after {
                    content: '';
                    display: block;
                    width: 22px; height: 1px;
                    background: $black10;
                    margin-top: 20px;
                }
            }
            .post_wrap {
                padding: 20px;
            }
            .post_txt {
                line-height: 1.4;
                white-space: pre-wrap;
                word-wrap: break-word;
            }
            .post_photo {
                width: 100%;
                height: 0;
                padding-bottom: 100%;
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
                // background-color: $black30;
            }
            .VueCarousel-pagination {
                position: absolute;
                bottom: 5px; left: 0;
                .VueCarousel-dot {
                    margin: 0 6px !important;
                    padding: 0 !important;
                }
            }
        }

    }


}//.fw
