@charset "utf-8";

.fw {

	// ----------------------------------------------------------
	// Footer
	// ----------------------------------------------------------
    #footer {

        background: #FFF;
        position: sticky;
        left: 0; bottom: 0;
        width: 100%;
        z-index: 99;

        #footer_inner {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 30px;
            height: 46px;
            position: relative;
            line-height: 1;
            li {
                a {
                    display: block;
                    color: $black30;
                    font-size: 26px;
                    &.nuxt-link-active { color: $color_text; pointer-events: none; }
                    .a-icon {
                        display: block;
                    }
                }
            }
        }

    }

}//.fw
