@charset "utf-8";

.fw {

	// ----------------------------------------------------------
	// Header
	// ----------------------------------------------------------
    #header {

        background: #FFF;
        position: sticky;
        top: 0; left: 0;
        z-index: 99;

        &.is_static {
            position: static;
        }

        #header_inner {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 15px;
            height: 46px;
            position: relative;

            .header_logo {
                margin-left: -5px;
                img {
                    display: block;
                    width: auto;
                    height: 20px;
                }
            }
            .header_ttl {
                @include bold;
            }
        }

    }



    #header_menu {
        position: fixed !important;
        top: 56px; right: 10px;
        width: 60vw;
        background: #FFF;
        z-index: 99;
        box-shadow: 0 0 6px 0 rgba(#000,0.2);
        border-radius: 4px;
        // overflow: hidden;
        @include triangle($color:#FFF, $width:10, $height:6, $direction:top);
        &:before { left: auto; right: 9px; margin-left: 0; }

        ul {
            li {
                border-bottom: 1px solid $black10;
                &:last-child { border-bottom: none; }
                .header_menu_btn {
                    width: 100%;
                    line-height: 1;
                    height: 50px;
                    padding: 0 20px;
                    text-align: left;
                    color: $color_text;
                    @include bold;
                    .a-icon { width: 22px; text-align: center; }
                    .a-icon_txt { margin-left: 8px; }
                    &:last-child { border-radius: 0 0 4px 4px; }
                    &.is_signout { background: $black10; color: $black50;}
                    // &.is_arw {
                    //     @include arrowAbs($color: $color_text, $size:8, $width:1, $layout:right, $position:20, $direction:right);
                    // }
                }
                a.header_menu_btn { display: flex; align-items: center; }
            }
        }
    }

}//.fw
