@charset "utf-8";

.m-form_label {
    position: relative;
    display: block;

    &[data-before] {
        &:before {
            content: attr(data-before);
            position: absolute;
            top: 50%; left: 0;
            transform: translateY(-50%);
            color: $black50;
        }
        .a-form_input { padding-left: 20px; }
    }
}
.m-form_sec {
    margin-top: 20px;
}

.m-form_line {
    border-bottom: 2px solid $black30;
}
.m-form_bg {
    .a-form_input,
    .a-form_textarea,
    .a-form_select {
        background-color: rgba(#000,0.05);
        border-radius: 4px !important;
        padding-left: 10px;
        padding-right: 10px;
        box-shadow: 1px 1px 2px 0 rgba(#000,0.05) inset;
    }
    .a-form_select {
        background-position: center right 10px;
        padding-right: 25px;
    }
    input[type="date"],
    input[type="month"] { background-position: center right 10px; }
    &[data-before] {
        &:before { left: 10px; }
        .a-form_input { padding-left: 30px; }
    }
}
.info_box .m-form_bg {
    .a-form_input,
    .a-form_textarea,
    .a-form_select {
        // background-color: $black10;
    }
}
label.m-form_line {
    display: block;
}
