@charset "utf-8";

.fw #signin {

    position: absolute;
    width: 100%; height: 100%;

    .signin-cancel {
        // position: fixed;
        // right: 10px; top: 10px;
        // width: 30px; height: 30px;
        text-align: center;
        margin-top: 40px;
        button { color: $black60; }
    }

    .signin-inner {

        position: absolute;
        width: 100%;
        left: 0; top: 50%;
        transform: translate(0,-50%);
        padding: 0 20px;
        // min-height: 415px;
        // min-height: calc( 100vh - 50px);

        h1 {
            width: 52%;
            max-width: 170px;
            margin: 30px auto 50px;
            // position: absolute;
            // top: -75px; left: 50%;
            // transform: translate(-50%,0);
        }

        .signin-form {

            .signin-input {
                position: relative;
                margin-bottom: 10px;
                input { display: block; width: 100%; }

                .a-form_error {
                    position: absolute;
                    top: 50%; right: 0;
                    transform: translateY(-50%);
                }
            }
            .signin-btn {
                margin-top: 30px;
            }
        }

        .signin-sns {
            margin-top: 50px;
            text-align: center;
            .signin-sns_ttl {
                margin-bottom: 10px;
            }
            .signin-sns_btn {
                font-family: $font_bold;
            }
        }

    }
    .signin-new {
        position: absolute;
        left: 0; bottom: 0;
        width: 100%;
        border-top: 1px solid $black20;
        background: $black10;
        display: flex;
        align-items: center;
        justify-content: center;
        .signin-new_btn {
            width: 100%; height: 50px;
            color: $color_main;
            font-family: $font_bold;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }



}//.fw
