@charset "utf-8";

.fw {

    // ----------------------------------------------------------
    // Button
    // ----------------------------------------------------------
    [class*="a-btn"] {
        .a-icon {
            font-size: 1.5em;
        }

        &.is_m { font-size: 1.15em; }
        &.is_l { font-size: 1.3em; }

        &.is_black { color: $color_text; }
        &.is_red { color: $red; }
        &.is_pink { color: $pink; }
        &.is_blue { color: $blue; }
        &.is_gray { color: $black30; }

        &[disabled="disabled"],
        &[disabled] {
            opacity: 0.5;
            pointer-events: none;
        }
    }
    .a-btn {
        border-radius: 100%;
        line-height: 1;
        display: block;
        width: 50px; height: 50px;
        text-align: center;
        color: $black40;
        will-change: auto;
        box-shadow: 0 0 10px 0 rgba(#000,0.1);
        background: #FFF;
    }

    a.a-btn {
        position: relative;
        .a-icon {
            position: absolute;
            top: 50%; left: 50%;
            transform: translate(-50%,-50%);
        }
    }

    .a-btn_header {
        width: 30px; height: 30px;
        display: block;
        text-align: right;
        .a-icon {
            vertical-align: bottom;
        }
    }
    .a-btn_user {
        width: 30px; height: 30px;
        display: block;
        background-position: center right;
        background-repeat: no-repeat;
        background-size: 28px auto;
        background-image: url(../images/common/user.svg);
    }

    .a-link {
        color: $color_link;
        text-decoration: underline;
        display: inline-block;
    }

    .a-btn_txt {
        border-radius: 50px;
        width: 100%;
        text-align: center;
        line-height: 1;
        padding: 15px 10px;
        font-family: $font_bold;
        border: 2px solid $black100;

        &.is_s { font-size: 12px; padding: 10px; }

        &.is_bg_blue {
            color: #FFF;
            background: $color_main;
            border-color: $color_main;
        }
        &[disabled="disabled"],&[disabled] {
            // opacity: 0.6;
            pointer-events: none;
            &.is_bg_blue {
                color: #FFF;
                background: $black20;
                border-color: $black20;
            }
        }
        &.is_active {
            color: #FFF;
            background: $black100;
            border-color: $black100;
        }
    }

}//.fw
