@charset "utf-8";

.fw {

    button[disabled="disabled"] {
        color: $black30;
        .a-icon { color: $black30; }
    }

    .a-date_tilde {
        position: relative;
        &:before {
            content: '〜';
            position: absolute;
            top: 50%; left: 50%;
            transform: translate(-50%,-50%);
            font-weight: bold;
            font-size: 16px;
        }
    }

    // ----------------------------------------------------------
    // Select
    // ----------------------------------------------------------
    .a-form_select {
        width: 100%; height: 40px;
        background: url(../images/common/select.svg) no-repeat right center;
        background-size: auto 16px;
        padding-right: 15px;
    }

    input[type="date"],
    input[type="month"] {
        background-image: url(../images/common/select.svg);
        background-position: right center;
        background-repeat: no-repeat;
        background-size: auto 16px;
        padding-right: 15px;
    }

    [data-date] {
        position: relative;
        input { color: transparent; }
        &:before {
            content: attr(data-date);
            color: $color_text;
            position: absolute;
            left: 10px; top: 50%;
            z-index: 1;
            font-size: 16px;
            transform: translateY(-50%);
            line-height: 1;
            font-weight: normal;
        }
        &.is_placeholder:before {
            color: $black30;
        }
    }

    // ----------------------------------------------------------
    // Input
    // ----------------------------------------------------------
    .a-form_input {
        width: 100%; height: 40px;

        @include placeholder {
            color: $black30;
            font-size: 14px;
        }
        &.is_bold { font-weight: bold; }
    }
    .a-form_textarea {
        width: 100%;
        display: block;
        $height: 20px;
        min-height: $height * 2;
        max-height: $height * 10;
        line-height: $height;
        padding: 10px 0;
        margin: 0;
        @include placeholder {
            color: $black30;
            font-size: 14px;
        }
        &.is_bold { font-weight: bold; }
    }

    .a-form_error {
        color: $red;
        @include bold;
        line-height: 1;
        font-size: 12px;
    }


}//.fw
