@font-face {
  font-family: "iconfont";
  src: url('/assets/fonts/iconfont.eot');
  src: url('/assets/fonts/iconfont.woff') format('woff'),
    url('/assets/fonts/iconfont.ttf') format('truetype'),
    url('/assets/fonts/iconfont.svg#iconfont') format('svg');
  font-weight: normal;
  font-style: normal;
}
.a-icon{
  display: inline-block;
  font-family: "iconfont";
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.a-icon:before {
}

.a-icon-lg {
  font-size: 1.3333333333333333em;
  line-height: 0.75em;
  vertical-align: -15%;
}
.a-icon-1_5x { font-size: 1.5em; }
.a-icon-1_75x { font-size: 1.75em; }
.a-icon-2x { font-size: 2em; }
.a-icon-3x { font-size: 3em; }
.a-icon-4x { font-size: 4em; }
.a-icon-5x { font-size: 5em; }
.a-icon-fw {
  width: 1.2857142857142858em;
  text-align: center;
}

.a-icon-arrow_left:before { content: "\EA00" }
.a-icon-arrow_right:before { content: "\EA01" }
.a-icon-bell:before { content: "\EA02" }
.a-icon-camera:before { content: "\EA03" }
.a-icon-check:before { content: "\EA04" }
.a-icon-comment:before { content: "\EA05" }
.a-icon-cross:before { content: "\EA06" }
.a-icon-cycle:before { content: "\EA07" }
.a-icon-edit:before { content: "\EA08" }
.a-icon-friends:before { content: "\EA09" }
.a-icon-friends_check:before { content: "\EA0A" }
.a-icon-friends_plus:before { content: "\EA0B" }
.a-icon-heart:before { content: "\EA0C" }
.a-icon-heart_plus:before { content: "\EA0D" }
.a-icon-home:before { content: "\EA0E" }
.a-icon-list:before { content: "\EA0F" }
.a-icon-mail:before { content: "\EA10" }
.a-icon-memory:before { content: "\EA11" }
.a-icon-picture:before { content: "\EA12" }
.a-icon-reserve:before { content: "\EA13" }
.a-icon-rotate_left:before { content: "\EA14" }
.a-icon-rotate_right:before { content: "\EA15" }
.a-icon-search:before { content: "\EA16" }
.a-icon-send:before { content: "\EA17" }
.a-icon-send_plus:before { content: "\EA18" }
.a-icon-time:before { content: "\EA19" }
.a-icon-user:before { content: "\EA1A" }
.a-icon-zoom_in:before { content: "\EA1B" }
.a-icon-zoom_out:before { content: "\EA1C" }
.a-icon-plus:before { content: "\EA20" }
.a-icon-fb:before { content: "\EA21" }
.a-icon-picture_plus:before { content: "\EA22" }
